    <html>
    <body>

    <P align=center><img scr='http://docs.ansible.com/images/logo.png' align=center>
    <h1 align=center>{{ ansible_hostname }} --- {{ iis_test_image }}

    </body>
    </html>